header nav > ul {
    display: flex;
    list-style-type: none;
}

header nav > ul li {
    padding: 0 5px;
}

header nav > ul li a{
    text-transform: uppercase;
    text-decoration: none;
    color: #FFF;
}