
body {
    margin: 0;
    font-family: 'Roboto Mono', monospace;
    font-size: 16px;
}

body:not(.path-frontpage) {
    background: url(/themes/custom/pieronanni/img/sfondo.jpg) center top;
    background-size: 1920px 1080px;
    background-attachment: fixed;
    padding-bottom: 30px;
    // padding-top: 20px;
}

.background-white {
    background: rgba(255, 255, 255, 0.7);
}

#block-links p {
    display: inline-block;
    margin: 0 10px;
}

#block-links p a {
    color: green;
    font-size: 50px;
    text-decoration: none;
}